openapi: 3.1.0
info:
  title: API
  version: 2.0 Beta
  summary: The public API of LearnWorlds
  license:
    name: MIT
  description: |
    ## HTTP Methods

    This API uses HTTP verbs (methods) as following:

    + `GET` - *Read* - used to **read** (or retrieve) a representation of a resource,
    + `POST` - *Create* - used to **create** new resources. In particular, it's used to create subordinate resources.
    + `PUT` - *Update/Replace* - used for **update** capabilities, PUT-ing to a known resource URI with the request body containing the newly-updated representation of the original resource. On successful request, replaces identified resource with the request body.
    + `DELETE` - *Delete* - used to **delete** a resource identified by a URI.

    ---

    ## Required Headers for all requests

    + Lw-Client: {The school ID}
    + Authorization : Bearer {token}

    ---

    ## Status Codes and Errors

    This API uses HTTP status codes to communicate with the API consumer.

    + `200 OK` - Response to a successful GET, PUT.
    + `201 Created` - Response to a POST that the resource is succesfully created.
    + `204 No Content` - Response to a successful request that won't be returning a body (like a DELETE request).
    + `400 Bad Request` - Bad request
    + `401 Unauthorized` - When no or invalid authentication details are provided.
    + `403 Forbidden` - When authentication succeeded but authenticated user doesn't have access to the resource.
    + `404 Not Found` - When a non-existent resource is requested.
    + `422 Validation error` - You should check your input again.
    + `500 Server error` - A general server error.


    ### Examples


    ##### Bad Request
    ```json
    {
        "errors": [
            {
                "code": "400",
                "context": "access_denied",
                "message": "The resource owner or authorization server denied the request."
            }
        ],
        "success": false
    }
    ```

    ##### Unauthorized
    ```json
    {
        "errors": [
            {
                "code": "401",
                "context": null,
                "message": "Invalid object ID"
            }
        ],
        "success": false
    }
    ```

    ##### Resource not found

    ```json
    {
        "error": "Sorry the resource your trying to access does not exist."
    }
    ```


    ##### Validation Error

    ```json
    {
        "error": "You need to provide a valid product_type query parameters value: 'course', 'bundle', 'subscription'"
    }
    ```

    ##### Generic Error

    ```json
    {
        "error": "Server Error" 
    }
    ```

    ---

    ## Representation of Date and DateTime

    + All exchange of Date should follow the ISO 8601 standard.
    + All exchange of DateTime should follow the Unix timestamp format.

    When you send a Date as input to create a new resource or to filter results, you need to send it as a valid date string with the form "yyyy-mm-dd" (Ex: "2021-05-28").

    When you send a DateTime as input to create a new resource or to filter results, you need to send it formatted as a valid Unix timestamp number  (Ex: 1626088013, 1587639230.083278).

    ---

    ## Representation of Float Numbers

    Float numbers  are represented with **dot** decimal-point character (Ex: 73.45, 1587639230.083278). The dot character is omitted for numbers with zero value(s) after the decimal-point. For instance, the numbers  52.00 or 52.0 will be presented as 52.
servers:
  - url: 'https://stoplight.io/mocks/learnworlds/api:main/2951998'
    description: Mock
paths:
  /v2/courses:
    get:
      summary: Get all courses
      tags:
        - Courses
      operationId: get-courses
      description: 'Returns a list of all courses of the school. The courses are in sorted order, with the most recently created course appearing first, and the list is paginated, with a limit of 50 courses per page.'
      parameters:
        - schema:
            type: string
            example: 'super-course,newcourse'
          in: query
          name: categories
          description: Comma seperated names of categories
        - $ref: '#/components/parameters/Lw-Client'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Course'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                Example:
                  value:
                    data:
                      - id: 10-secrets-of-sleep-walking
                        title: 10 secrets of sleep walking
                        expires: 2
                        expiresType: weeks
                        afterPurchase:
                          type: course
                          settings:
                            page: null
                            url: null
                        categories:
                          - learning how to sleep
                          - sleep now
                          - sleeping like a pro
                        description: this is the description
                        label: null
                        author:
                          name: alex
                          image: null
                        courseImage: null
                        original_price: 300
                        discount_price: 100
                        final_price: 200
                        dripFeed: none
                        identifiers:
                          google_store_id: 10_secrets_of_sleep_walking
                          apple_store_id: 10_secrets_of_sleep_walking
                        access: paid
                        created: 1510243831.36581
                        modified: 1621412603.921979
                    meta:
                      page: 1
                      totalItems: 1
                      totalPages: 1
                      itemsPerPage: 50
    post:
      summary: Create a course
      tags:
        - Courses
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Course'
              examples: {}
      operationId: post-courses
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  title: A course title
                  titleId: course-title-id
                  status: paid
                  description: A 101 course for LW
                  price: 123.23
                  dripFeed: false
              properties:
                titleId:
                  type: string
                  description: 'Unique identifier of the course title. If it is empty the identifier is formed based on the provided title. '
                title:
                  type: string
                  description: Title of the course
                description:
                  type: string
                  description: Description of the course
                price:
                  type: number
                  format: float
                  description: Price of the course
                dripFeed:
                  type: string
                  enum:
                    - days
                    - date
                    - none
                  description: Course setting for scheduled course delivery (drip feed); returns none if drip feed is not enabled.
                  default: none
                access:
                  type: string
                  enum:
                    - paid
                    - free
                    - coming_soon
                    - private
                    - draft
                  description: Access type of the course
                categories:
                  type: array
                  description: Categories this course belongs in
                  items:
                    type: string
              required:
                - titleId
                - title
                - access
            examples:
              Example:
                value:
                  titleId: new-course
                  title: new course
                  description: A testing course
                  price: 125.45
                  dripFeed: days
                  access: paid
                  categories:
                    - paid_course
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
      description: Creates a new course. The endpoint response is the created Course resource.
    parameters: []
  '/v2/courses/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: Unique identifier of the course
    get:
      summary: Get a course
      tags:
        - Courses
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Course'
              examples:
                Example:
                  value:
                    id: 10-secrets-of-sleep-walking
                    title: 10 secrets of sleep walking
                    expires: 2
                    expiresType: weeks
                    afterPurchase:
                      type: course
                      settings:
                        page: null
                        url: null
                    categories:
                      - learning how to sleep
                      - sleep now
                      - sleeping like a pro
                    description: this is the description
                    label: null
                    author:
                      name: alex
                      image: null
                    courseImage: null
                    original_price: 300
                    discount_price: 100
                    final_price: 200
                    dripFeed: none
                    access: paid
                    created: 1510243831.36581
                    modified: 1621412603.921979
      operationId: get-courses-id
      description: 'Returns information about the course specified by the provided course id. '
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
    put:
      summary: Update a course
      tags:
        - Courses
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Course'
      operationId: put-courses-id
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  title: A course title
                  titleId: course-title-id
                  status: paid
                  description: A 101 course for LW
                  price: 123.23
                  dripFeed: false
              properties:
                title:
                  type: string
                  description: Course title
                description:
                  type: string
                  description: Course description
                price:
                  type: number
                  description: Course price
                  format: float
                dripFeed:
                  type: string
                  enum:
                    - days
                    - date
                    - none
                  description: Course setting for scheduled course delivery (drip feed); returns none if drip feed is not enabled.
                  default: none
                access:
                  type: string
                  description: Course access type
                  enum:
                    - paid
                    - free
                    - coming_soon
                    - enrollment_closed
                    - private
                    - draft
                categories:
                  type: array
                  description: Categories this course belongs in
                  items:
                    type: string
            examples:
              Example:
                value:
                  title: 10 secrets of sleep walking
                  description: updated sedscription
                  access: free
                  categories:
                    - new_course
                    - free_course
      description: Updates the course specified by the provided course id. The endpoint response is the updated Course resource.
  '/v2/courses/{id}/analytics':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: Course Id
    get:
      summary: Get analytics for a course
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseAnalytics'
              examples:
                Example:
                  value:
                    students: 134
                    videos: 5
                    learning_units: 16
                    video_time: 0
                    avg_score_rate: 95
                    success_rate: 0
                    total_study_time: 13953
                    avg_time_to_finish: 0
                    social_interactions: 7
                    certificates_issued: 3
      operationId: get-courses-id-analytics
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
      description: Returns analytics about the course specified by the provided course id.
      tags:
        - Reporting
  '/v2/courses/{id}/units/{uid}/analytics':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: Course title Id
      - schema:
          type: string
        name: uid
        in: path
        required: true
        description: Learning activity id
    get:
      summary: Get analytics for a learning activity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnitAnalytics'
              examples:
                Example:
                  value:
                    type: youtube
                    name: youtube video
                    users_completed: 0
                    viewers: 2
                    avg_study_time: 6502
                    total_study_time: 9295
                    avg_score_rate: 0
      operationId: get-courses-cid-unit-uid-analytics
      description: Returns analytics about a learning activity of a course specified by the provided course id and learning activity id.
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
      tags:
        - Reporting
  /v2/bundles:
    get:
      summary: Get all bundles
      tags:
        - Bundles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Bundle'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                Example:
                  value:
                    data:
                      - id: a-bundle
                        title: a bundle
                        products:
                          courses:
                            - learn-to-drive
                        image: null
                        description: null
                        access: private
                        created: 1623061666.590018
                        modified: 1623061666.590018
                        afterPurchase:
                          type: afterlogin
                          settings:
                            url: null
                            page: null
                        price: 0
                        paymentPlans:
                          - name: 2 payments of $37/month
                            description: null
                            type: without_upfront
                            order: 1
                            firstAmount: 37
                            amount: 37
                            paymentsCount: 2
                            subscriptionTrialType: default
                            subscriptionIntervalType: 1-month
                            status: public
                            isCancelable: false
                            validFrom: null
                            validTo: null
                            subscriptionTrialDays: null
                            subscriptionTrialDate: null
                            nameOverride: false
                            paymentPlanNameOverride: null
                            id: a-bundle-60ba022a8e162
                    meta:
                      page: 1
                      totalItems: 1
                      totalPages: 1
                      itemsPerPage: 20
      operationId: get-bundles
      x-internal: false
      description: 'Returns a list of all bundles of the school. The bundles are in sorted order, with the most recently created bundle appearing first, and the list is paginated, with a limit of 20 bundles per page.'
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
    parameters: []
  '/v2/bundles/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: Unique identifier of the bundle
    get:
      summary: Get a bundle
      tags:
        - Bundles
      operationId: get-bundles-id
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
      description: Returns the bundle specified by the provided bundle id.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
              examples:
                Example:
                  value:
                    id: a-bundle
                    title: a bundle
                    products:
                      courses:
                        - learn-to-drive
                    image: null
                    description: null
                    access: private
                    created: 1623061666.590018
                    modified: 1623061666.590018
                    afterPurchase:
                      type: afterlogin
                      settings:
                        url: null
                        page: null
                    price: 0
                    paymentPlans:
                      - name: 2 payments of $37/month
                        description: null
                        type: without_upfront
                        order: 1
                        firstAmount: 37
                        amount: 37
                        paymentsCount: 2
                        subscriptionTrialType: default
                        subscriptionIntervalType: 1-month
                        status: public
                        isCancelable: false
                        validFrom: null
                        validTo: null
                        subscriptionTrialDays: null
                        subscriptionTrialDate: null
                        nameOverride: false
                        paymentPlanNameOverride: null
                        id: a-bundle-60ba022a8e162
  /v2/subscription-plans:
    get:
      summary: Get a list of subscription plans
      tags:
        - Subscription plans
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SubscriptionPlan'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                Example:
                  value:
                    data:
                      - id: this-is-my-api-keys-plan
                        title: This is my api keys plan
                        stripePlanId: this-is-my-api-keys-plan
                        description: This is my api keys plan description
                        products:
                          courses:
                            - 10-secrets-of-sleep-walking
                        image: 'https://lwfilesdev.mycourse.app/dev-public/ce4c32bf2a60638146e18cecf8f9749d.jpeg'
                        interval: 1
                        interval_type: month
                        trial_period_days: 0
                        afterPurchase:
                          type: afterlogin
                          settings:
                            page: about
                            url: null
                        access: private
                        created: 1602244399.894355
                        modified: 1620636583.900941
                        price: 100
                    meta:
                      page: 1
                      totalItems: 1
                      totalPages: 1
                      itemsPerPage: 50
      operationId: get-subscription-plans
      description: 'Returns a list of all subscription plans. The subscription plans are in sorted order, with the most recently created subscription plan appearing first, and the list is paginated, with a limit of 50 subscription plans per page.'
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
      x-internal: false
    parameters: []
  '/v2/subscription-plans/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: Subscription plan Id
    get:
      summary: Get subscription plan
      operationId: get-subscription-plans-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionPlan'
              examples:
                Example:
                  value:
                    id: this-is-my-api-keys-plan
                    title: This is my api keys plan
                    stripePlanId: this-is-my-api-keys-plan
                    description: This is my api keys plan description
                    products:
                      courses:
                        - 10-secrets-of-sleep-walking
                    image: 'https://lwfilesdev.mycourse.app/dev-public/ce4c32bf2a60638146e18cecf8f9749d.jpeg'
                    interval: 1
                    interval_type: month
                    trial_period_days: 0
                    afterPurchase:
                      type: afterlogin
                      settings:
                        page: about
                        url: null
                    access: private
                    created: 1602244399.894355
                    modified: 1620636583.900941
                    price: 100
      tags:
        - Subscription plans
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
      description: Returns the subscription plan specified by the provided subscription plan id.
  /v2/user-subscriptions:
    get:
      summary: Get users subscriptions
      tags:
        - User subscriptions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserSubscription'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                Example:
                  value:
                    data:
                      - user_id: 5eea204cd7bde13ee03059e6
                        email: joe@doe.com
                        plan_id: new-free-trial
                        created: 1592402093
                        expires_at: null
                        status: trial
                        provider: stripe
                        provider_meta:
                          id: sub_HTziMjgYwcM29J
                          customer_id: cus_HTziICD9326N47
                          plan: new-free-trial
                          trial_start: 1592402093
                          trial_end: 1593266093
                          current_period_start: 1592402093
                          current_period_end: 1593266093
                      - user_id: 615569f2581c8d4c870b5723
                        email: joe2@doe.com
                        plan_id: lw-subscription
                        created: 1634801485
                        expires_at: 1634805895
                        status: active
                        provider: learnworlds
                        provider_meta: null
                    meta:
                      page: 1
                      totalItems: 2
                      totalPages: 1
                      itemsPerPage: 20
      operationId: get-user-subscriptions
      parameters:
        - schema:
            type: string
          in: query
          name: user_id
          description: Filter by user id or email (url encoded string)
        - schema:
            type: string
            enum:
              - active
              - inactive
              - trial
          in: query
          name: status
          description: Filter by subscription status
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
        - $ref: '#/components/parameters/page'
      description: 'Returns a list with the user subscriptions. The subscriptions are in sorted order based on user''s creation date in descending order and the list is paginated, with a limit of 20 subscriptions per page. To refine the list of subscriptions, there are a number of query params outlined in the following section; In case more than one Query param is provided, then all of them will be applied (AND operator).'
    parameters: []
  /v2/installments/active:
    get:
      summary: Get active installments
      tags:
        - Installments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Installment'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                Example:
                  value:
                    data:
                      - user_id: 5a6f111843c90b78238b4568
                        email: jon@doe.com
                        id: sub_H8c0rR6pQO6o1o
                        plan_id: test-drip-feed-installments-5e9eddce8f21a
                        productId: test-drip-feed-installments
                        productType: course
                        ends_at: null
                        current_period_start: 1587470463
                        current_period_end: 1588680063
                        name: 2 payments of $282.5/2weeks
                        type: without_upfront
                        status: active
                        firstAmount: 282.5
                        amount: 282.5
                        paymentsCount: 2
                        paymentsPayed: 1
                        isCancelable: false
                        installmentIntervalType: 14-day
                        firstInstallmentType: default
                        firstInstallmentlDays: 0
                        firstInstallmentDate: null
                    meta:
                      page: 1
                      totalItems: 1
                      totalPages: 1
                      itemsPerPage: 50
      operationId: get-installments
      description: 'Return a list with active installments of users. The installments are in sorted order based on user''s creation date in descending order, and the list is paginated, with a limit of 50 installments per page. To refine the list of installments, there are a number of query params outlined in the following section; In case more than one Query param is provided, then all of them will be applied (AND operator).'
      parameters:
        - schema:
            type: string
          in: query
          name: product_id
          description: Filter by product Id
        - schema:
            type: string
          in: query
          name: user_id
          description: Filter by a user id or email (url encoded string)
        - schema:
            type: string
            enum:
              - course
              - bundle
          in: query
          name: product_type
          description: Filter by product type
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
        - schema:
            type: integer
            default: 1
          in: query
          name: page
          description: 'Filter by the page number. In case page number is higher than the maximum one, no results will be returned'
    parameters: []
  /v2/school/events:
    parameters: []
    get:
      summary: Get school events
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SchoolEvent'
              examples:
                Example:
                  value:
                    data:
                      - title: Learn how to walk section
                        startDate: 1632949200
                        productId: learn-how-to-walk
                        type: dripFeed
                        bookingDetails: null
                Example With Booking Details:
                  value:
                    data:
                      - title: Coaching session oneOnOne
                        startDate: 1659088800
                        productId: coachingCourse
                        type: liveSession
                        bookingDetails:
                          learnerUserId: 6256cff2ef8b8f563e01956e
                          hostUserId: 5be0561d43c90b171a8b4567
                          status: scheduled
                          type: oneOnOne
                          providerName: calendly
                          providerData:
                            joinUrl: null
                            durationInMinutes: 30
                            locationType: physical
                            location: my office
                            scheduledEventId: f5675834-57e6-4a16-ae57-167f68127dcd
                            eventTypeId: 8dfd6800-9b06-4d9f-ad3e-052f3792ba57
      operationId: get-courses-name-live-sessions
      description: 'Returns all the upcoming scheduled school events, regarding course drip feed, file assignment and live session.  '
      tags:
        - Calendar
      parameters:
        - schema:
            type: string
            enum:
              - dripFeed
              - fileAssignment
              - liveSession
          in: query
          name: event_type
          description: Filter by event type
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
  /v2/users:
    get:
      summary: Get all users
      tags:
        - Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                Example:
                  value:
                    data:
                      - id: 5ea173beca205e67b47f4552
                        email: testaffsearch@learnworlds.com
                        username: testAffSearch@learnworlds.com
                        subscribed_for_marketing_emails: true
                        eu_customer: false
                        is_admin: false
                        is_instructor: false
                        is_suspended: false
                        is_reporter: false
                        role:
                          level: user
                          name: User
                        is_affiliate: false
                        referrer_id: 5a6f1e5a43c90b15208b4571
                        created: 1587639230.083278
                        last_login: 1587645977.964412
                        fields:
                          bio: null
                          location: null
                          url: null
                          fb: null
                          twitter: null
                          instagram: null
                          linkedin: null
                          skype: null
                          behance: null
                          dribbble: null
                          github: null
                          phone: null
                          address: null
                          country: null
                          birthday: null
                          company: null
                          company_size: null
                          university: null
                          graduation_year: null
                          cf_skill: Personal trainer
                          cf_studentlicence: EA23123123
                        tags:
                          - super-user
                          - fanboy
                          - just-signedup
                        utms:
                          fc_source: Facebook
                          fc_medium: FB
                          fc_campaign: WOW campaign
                          fc_term: null
                          fc_content: null
                          fc_landing: /
                          fc_referrer: null
                          fc_country: null
                          lc_source: null
                          lc_medium: null
                          lc_campaign: null
                          lc_term: null
                          lc_content: null
                          lc_landing: /
                          lc_referrer: null
                          lc_country: null
                        billing_info:
                          bf_name: Sherlock Holmes
                          bf_address: Baker Street 221B
                          bf_city: London
                          bf_postalcode: NW1
                          bf_country: UK
                          bf_taxid: null
                        nps_score: 8
                        nps_comment: an nps comment by user
                    meta:
                      page: 1
                      totalItems: 1
                      totalPages: 1
                      itemsPerPage: 20
      operationId: get-users
      parameters:
        - schema:
            type: number
            example: '1626088013'
          in: query
          name: registration_after
          description: Filter by registration after the given datetime (expected in UNIX timestamp format)
        - schema:
            type: string
            enum:
              - paying
              - non_paying
              - suspended
              - never_logged_in
            example: paying
          in: query
          name: status
          description: Filter by user status
        - schema:
            type: string
            enum:
              - user
              - admin
              - instructor
              - reporter
            example: user
          in: query
          name: role
          description: Filter by user role
        - schema:
            type: string
            example: 'big learner,other learner'
          in: query
          name: tags
          description: 'Filter by tags. For several tag values, a comma separated string can be provided.'
        - $ref: '#/components/parameters/page'
        - schema:
            type: string
            example: testvalue
          in: query
          name: cf_$field_name
          description: 'Filter by custom field. All custom fields start with the cf_ prefix; the "$field_name" part should be replaced by the name of the corresponding custom field. Also, it is possible to use more than one custom fields as filters, using the aforementioned convention.'
        - schema:
            type: number
            example: '1626076929'
          in: query
          name: registration_before
          description: Filter by registration before the given datetime (expected in UNIX timestamp format)
        - $ref: '#/components/parameters/Lw-Client'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/items_per_page'
        - schema:
            type: string
            enum:
              - 'true'
              - flase
            example: 'true'
          in: query
          description: Filter by include_suspended flag. The default value is false.
          name: include_suspended
      description: |-
        Returns a list with all the users of the school. The users are in sorted order, with the most recently created user appearing first, and the list is paginated, with a default limit of 20 users per page. 
        To refine the list of users, there are a number of query params outlined in the following section; In case more than one Query param is provided, then all of them will be applied (AND operator). 
    post:
      summary: Create a user
      tags:
        - Users
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      operationId: post-users
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
      description: Creates a new user. The endpoint response is the created User resource.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRequestModel'
    parameters: []
  '/v2/users/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: User Id or email (encoded string)
    put:
      summary: Update a user
      tags:
        - Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      operationId: put-users-id
      description: Updates user information. The endpoint response is the updated User resource.
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRequestPutModel'
    get:
      summary: Get a user
      operationId: get-users-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                Example:
                  value:
                    id: 5ea173beca205e67b47f4552
                    email: testaffsearch@learnworlds.com
                    username: testAffSearch@learnworlds.com
                    subscribed_for_marketing_emails: true
                    eu_customer: false
                    is_admin: false
                    is_instructor: false
                    is_suspended: false
                    is_affiliate: false
                    referrer_id: 5a6f1e5a43c90b15208b4571
                    created: 1587639230.083278
                    last_login: 1587645977.964412
                    fields:
                      bio: null
                      location: null
                      url: null
                      fb: null
                      twitter: null
                      instagram: null
                      linkedin: null
                      skype: null
                      behance: null
                      dribbble: null
                      github: null
                      phone: null
                      address: null
                      country: null
                      birthday: null
                      company: null
                      company_size: null
                      university: null
                      graduation_year: null
                      cf_skill: Personal trainer
                      cf_studentlicence: EA23123123
                    tags:
                      - super-user
                      - fanboy
                      - just-signedup
                    utms:
                      fc_source: Facebook
                      fc_medium: FB
                      fc_campaign: WOW campaign
                      fc_term: null
                      fc_content: null
                      fc_landing: /
                      fc_referrer: null
                      fc_country: null
                      lc_source: null
                      lc_medium: null
                      lc_campaign: null
                      lc_term: null
                      lc_content: null
                      lc_landing: /
                      lc_referrer: null
                      lc_country: null
                    nps_score: 8
                    nps_comment: an nps comment by user
      description: 'Returns the user specified by the provided user id. '
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
        - schema:
            type: string
            enum:
              - 'true'
              - 'false'
            example: 'true'
          in: query
          name: include_suspended
          description: Filter by include_suspended flag. The default value is false.
      tags:
        - Users
  '/v2/users/{id}/courses':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: User Id or email (encoded string)
    get:
      summary: Get courses (enrollments) of user
      tags:
        - Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Enrollment'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                Example:
                  value:
                    data:
                      - created: 1634304651
                        expires: null
                        course:
                          id: 10-secrets-of-sleep-walking
                          title: 10 secrets of sleep walking
                          expires: 2
                          expiresType: weeks
                          afterPurchase:
                            type: course
                            settings:
                              page: null
                              url: null
                          categories:
                            - learning how to sleep
                            - sleep now
                            - sleeping like a pro
                          description: this is the description
                          label: null
                          author:
                            name: alex
                            image: null
                          courseImage: null
                          original_price: 300
                          discount_price: 100
                          final_price: 200
                          dripFeed: none
                          identifiers:
                            google_store_id: 10_secrets_of_sleep_walking
                            apple_store_id: 10_secrets_of_sleep_walking
                          access: paid
                          created: 1510243831.36581
                          modified: 1621412603.921979
                    meta:
                      page: 1
                      totalItems: 1
                      totalPages: 1
                      itemsPerPage: 50
      operationId: get-users-id-courses
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
        - $ref: '#/components/parameters/page'
      description: 'Returns a list with all course enrollment data of the specified user. The list is paginated, with a limit of 50 course enrollments per page.'
  '/v2/courses/{id}/users':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: Course id
    get:
      summary: Get all users per course
      tags:
        - Courses
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                Example:
                  value:
                    data:
                      - id: 5ea173beca205e67b47f4552
                        email: testaffsearch@learnworlds.com
                        username: testAffSearch@learnworlds.com
                        subscribed_for_marketing_emails: true
                        eu_customer: false
                        is_admin: false
                        is_instructor: false
                        is_suspended: false
                        is_reporter: false
                        role:
                          level: user
                          name: User
                        is_affiliate: false
                        referrer_id: 5a6f1e5a43c90b15208b4571
                        created: 1587639230.083278
                        last_login: 1587645977.964412
                        fields:
                          bio: null
                          location: null
                          url: null
                          fb: null
                          twitter: null
                          instagram: null
                          linkedin: null
                          skype: null
                          behance: null
                          dribbble: null
                          github: null
                          phone: null
                          address: null
                          country: null
                          birthday: null
                          company: null
                          company_size: null
                          university: null
                          graduation_year: null
                          cf_skill: Personal trainer
                          cf_studentlicence: EA23123123
                        tags:
                          - super-user
                          - fanboy
                          - just-signedup
                        utms:
                          fc_source: Facebook
                          fc_medium: FB
                          fc_campaign: WOW campaign
                          fc_term: null
                          fc_content: null
                          fc_landing: /
                          fc_referrer: null
                          fc_country: null
                          lc_source: null
                          lc_medium: null
                          lc_campaign: null
                          lc_term: null
                          lc_content: null
                          lc_landing: /
                          lc_referrer: null
                          lc_country: null
                        billing_info:
                          bf_name: Sherlock Holmes
                          bf_address: Baker Street 221B
                          bf_city: London
                          bf_postalcode: NW1
                          bf_country: UK
                          bf_taxid: null
                        nps_score: 8
                        nps_comment: an nps comment by user
                    meta:
                      page: 1
                      totalItems: 1
                      totalPages: 1
                      itemsPerPage: 20
      operationId: get-courses-id-users
      description: 'Retrieves all the users enrolled in the course specified by the provided course id. The users are in sorted order, with the most recently created user appearing first, and the list is paginated, with a default limit of 20 users per page. '
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/items_per_page'
  '/v2/courses/{id}/sections':
    parameters:
      - schema:
          type: string
          example: a-test
        name: id
        in: path
        required: true
        description: Course Id
    post:
      summary: Create course section
      tags:
        - Courses
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseContent'
              examples:
                Example with DripFeed (by days):
                  value:
                    id: testunits
                    title: testunits
                    sections:
                      - id: testu_introduction
                        title: Introduction
                        description: Intro
                        access: draft
                        drip:
                          days: 4
                          date: null
                          notify: true
                          subject: Your new course is available now
                          body: 'Hi there dear user, the course is available.'
                        learningUnits: []
                Example with DripFeed (by date):
                  value:
                    id: testunits
                    title: testunits
                    sections:
                      - id: testu_introduction
                        title: Introduction
                        description: Intro
                        access: draft
                        drip:
                          days: 0
                          date: 1518792296
                          notify: true
                          subject: Your new course is available now
                          body: 'Hi there dear user, the course is available.'
                        learningUnits: []
                Example without DripFeed:
                  value:
                    id: testunits
                    title: testunits
                    sections:
                      - id: testu_introduction
                        title: Introduction
                        description: Intro description
                        access: paid
                        drip: null
                        learningUnits: []
      operationId: post-courses-id-sections
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
      description: 'Creates a new course section in the course, specified by the course id. The endpoint response is the course contents including the newly created section.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-sl-internally-excluded: true
              x-sl-error-message: You do not have permission to view this reference
            examples:
              Example with DripFeed (by days):
                value:
                  title: Introduction
                  description: Intro
                  access: draft
                  drip:
                    days: 4
                    notify: true
                    subject: Your new course is available now
                    body: 'Hi there dear user, the course is available.'
              Example with DripFeed (by date):
                value:
                  title: Introduction
                  description: Intro
                  access: draft
                  drip:
                    date: 1518792296
                    notify: true
                    subject: Your new course is available now
                    body: 'Hi there dear user, the course is available.'
              Example without DripFeed:
                value:
                  title: Introduction
                  description: Intro description
                  access: paid
  /v2/payments:
    get:
      summary: Get payments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Payment'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                Example:
                  value:
                    data:
                      - id: 60fa9afd0436534ae177b072
                        transaction_id: Added by admin
                        type: one-off
                        product:
                          id: the-complete-nightmare-guide
                          type: course
                          name: The complete nightmare Guide
                          description: A Great Guide to master your nightmares
                          image: 'https://lwfilesdev.mycourse.app/dev-public/insert/014d143dca751d1e3c661675924a266e.jpeg'
                          trial_days: 0
                          original_price: 32
                          discount_price: 0
                          final_price: 32
                        price: 100
                        discount: 0
                        refund_at: null
                        user_id: 5ea18eee1d2c27438d61abe2
                        paid_at: 1626852950
                        invoice: null
                        billing_info:
                          bf_name: Sherlock Holmes
                          bf_address: Baker Street 221B
                          bf_city: London
                          bf_postalcode: NW1
                          bf_country: UK
                          bf_taxid: null
                        coupon: null
                        instructors:
                          - id: 5a323b4f43c90b78098b456b
                            percentage: 0.2
                          - id: 5acc9b3743c90b1b098b4568
                            percentage: 0.1
                        instructors_total_percentage: 0.3
                        tax_amount: 0
                        tax_percentage: 0
                        affiliate:
                          id: 5a6f1e5a43c90b15208b4571
                          username: jondoe
                          code: BOwVnd
                          payment_status: paid
                          commission_percentage: 10
                          commission_amount: 10
                        period: null
                        payment_plan_current_payment: null
                        payment_plan_total_payments: null
                        gateway: stripe
                        created: 1626852950
                    meta:
                      page: 1
                      totalItems: 1
                      totalPages: 1
                      itemsPerPage: 50
      operationId: get-transactions
      parameters:
        - schema:
            type: string
            enum:
              - course
              - bundle
              - subscription
          in: query
          name: product_type
          description: Filter by product type
        - schema:
            type: string
          in: query
          name: user_id
          description: Filter by user id or email (encoded string)
        - schema:
            type: string
          in: query
          name: affiliate_id
          description: Filter by affiliate id or email (encoded string)
        - schema:
            type: string
          in: query
          name: product_id
          description: Filter by product id
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/items_per_page'
      tags:
        - Payments
      description: 'Returns a list with all the payments. The payments are in sorted order, with the most recently created payment appearing first, and the list is paginated, with a default limit of 50 payments per page. To refine the list of payments, there are a number of query params outlined in the following section; In case more than one Query param is provided, then all of them will be applied (AND operator).'
    parameters: []
  '/v2/payments/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: Payment Id or Transaction id
    get:
      summary: Get payment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
              examples:
                Example:
                  value:
                    id: 60fa9afd0436534ae177b072
                    transaction_id: Added by admin
                    type: one-off
                    product:
                      id: the-complete-nightmare-guide
                      type: course
                      name: The complete nightmare Guide
                      description: A Great Guide to master your nightmares
                      image: 'https://lwfilesdev.mycourse.app/dev-public/insert/014d143dca751d1e3c661675924a266e.jpeg'
                      trial_days: 0
                      original_price: 32
                      discount_price: 0
                      final_price: 32
                    price: 100
                    discount: 0
                    refund_at: null
                    user_id: 5ea18eee1d2c27438d61abe2
                    paid_at: 1626852950
                    invoice: null
                    coupon: null
                    instructors:
                      - 5a323b4f43c90b78098b456b
                      - 5acc9b3743c90b1b098b4568
                    instructors_total_percentage: 0.3
                    tax_amount: 0
                    tax_percentage: 0
                    affiliate:
                      id: 5a6f1e5a43c90b15208b4571
                      username: jondoe
                      code: BOwVnd
                      payment_status: paid
                      commission_percentage: 10
                      commission_amount: 10
                    period: null
                    payment_plan_current_payment: null
                    payment_plan_total_payments: null
                    gateway: stripe
                    created: 1626852950
      operationId: get-transactions-id
      tags:
        - Payments
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
      security: []
      description: Returns information about the payment specified by the provided payment id.
  '/v2/courses/{id}/contents':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: Course title Id
    get:
      summary: Get contents of a course
      tags:
        - Courses
      operationId: get-courses-id-contents
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseContent'
              examples:
                Example:
                  value:
                    id: testunits
                    title: testunits
                    sections:
                      - id: testu_introduction
                        title: Introduction
                        description: Intro
                        access: private
                        drip:
                          days: 28
                          date: null
                          notify: true
                          subject: email subject
                          body: hi there
                        learningUnits:
                          - type: pdf
                            id: 611f83d9f8794544223ee7e4
                            icon: pdf
                            title: pdf
                            subtitle: pdf
                          - type: url
                            id: 611f83ef11ac917cfc05c2b2
                            icon: url
                            title: external page
                            subtitle: external page
                          - type: scorm
                            id: 611f83f711ac917cfc05c2b3
                            icon: scorm
                            title: SCORM/HTML 5 Package
                            subtitle: SCORM/HTML 5 Package
                          - type: certificate
                            id: 611f87aa9ab7f357693baa22
                            icon: certification
                            title: certificate
                            subtitle: certificate
                          - type: certificate
                            id: 611f87c227652810e3544fe2
                            icon: certification
                            title: certificate
                            subtitle: certificate
      description: Returns the contents of the course specified by the provided course id. Includes sections and learning activities.
  /v2/leads:
    get:
      summary: Get leads
      tags:
        - Leads
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Lead'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                Example:
                  value:
                    data:
                      - email: jo@doe.com
                        first_name: Joe
                        last_name: Doe
                        tags:
                          - test
                          - test2
                        subscribed_for_marketing_emails: false
                        eu_customer: null
                        created: 1512571934.660148
                        utms:
                          fc_source: Facebook
                          fc_medium: FB
                          fc_campaign: WOW campaign
                          fc_term: null
                          fc_content: null
                          fc_landing: /
                          fc_referrer: null
                          fc_country: null
                          lc_source: null
                          lc_medium: null
                          lc_campaign: null
                          lc_term: null
                          lc_content: null
                          lc_landing: /
                          lc_referrer: null
                          lc_country: null
                        page_submitted: /
                    meta:
                      page: 1
                      totalItems: 1
                      totalPages: 1
                      itemsPerPage: 20
      operationId: get-leads
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
        - $ref: '#/components/parameters/page'
      description: 'Returns a list with all the leads of the school. The leads are in sorted order, with the most recently created leads appearing first, and the list is paginated, with a limit of 20 leads per page.'
    parameters: []
  '/v2/users/{id}/products':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: User id or email
    get:
      summary: Get products of user
      tags:
        - Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
              examples:
                Example:
                  value:
                    data:
                      - id: magic_school_bus
                        title: Magic School Bus
                        type: bundle
        '':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
      operationId: get-user-id-products
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
      description: Returns a list with all the products of the user specified by the provided user id.
  '/v2/users/{id}/tags':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: User Id or email (encoded string)
    put:
      summary: Update user tags
      operationId: put-users-id-tags
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  tags:
                    - test2
                    - mitsos
                  action: attach
              properties:
                tags:
                  type: array
                  description: Array of the tags of the user
                  items:
                    type: string
                action:
                  type: string
                  enum:
                    - attach
                    - detach
                  description: 'The exact action to be performed with the aforementioned tags to the specified user; ''attach'' is the indication to add these tags to the user and ''detach'' is the indication to remove them from the user. '
              required:
                - tags
                - action
            examples:
              'Example [Attach]':
                value:
                  tags:
                    - free
                    - hot
                  action: attach
              'example [Detach]':
                value:
                  tags:
                    - free
                  action: detach
        description: ''
      tags:
        - Users
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
      description: Updates the tags of the user specified by the provided user Id or email. The endpoint response is the updated User resource.
  '/v2/promotions/{pid}/coupons':
    parameters:
      - schema:
          type: string
        name: pid
        in: path
        required: true
        description: Promotion Id
    get:
      summary: Get promotions coupons
      tags:
        - Promotions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Coupon'
              examples:
                Example:
                  value:
                    data:
                      - code: coup-ZFPVOG
                        quantity: 1
                        expires: '2023-10-28'
                        bulk: true
                        prefix: coup
                        times_used: 12
                      - code: coup-ZFPVOE
                        quantity: 1
                        expires: '2023-10-28'
                        bulk: true
                        prefix: coup
                        times_used: 0
      operationId: get-promotions-id
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
      description: 'Returns all coupons for the promotion specified by the provided promotion id. '
    post:
      summary: Create a coupon in a promotion
      tags:
        - Promotions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'
              examples:
                Example:
                  value:
                    code: coup-ZFPVOG
                    quantity: 4
                    expires: '2020-10-28'
                    bulk: false
                    prefix: null
                    times_used: 0
      operationId: post-promotions-pid-coupons
      parameters:
        - $ref: '#/components/parameters/Content-Type'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  prefix: bulk_coupon
                  quantity: 2
                  expires: 1629195074
              properties:
                code:
                  type: string
                  description: Coupon code
                quantity:
                  type: integer
                  description: Coupon quantity greater than 0
                expires:
                  type: string
                  description: Coupon expiration date in yyyy-mm-dd format
                  format: date
              required:
                - code
            examples:
              Example:
                value:
                  code: coup-ZFPVOG
                  quantity: 4
                  expires: '2020-10-28'
      description: Creates a coupon for the promotion specified by the provided promotion id. The endpoint response is the created coupon resource.
  '/v2/promotions/{pid}/coupons/{cid}/usage':
    get:
      summary: Get coupon usage
      tags:
        - Promotions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CouponUsage'
              examples:
                Example:
                  value:
                    usage:
                      code: FREEE
                      quantity: 120
                      expires: 24 Sep 2020
                      bulk: false
                      prefix: null
                      times_used: 1
                    payments:
                      - id: 5f464863e690ab37812cc0b2
                        transaction_id: '---'
                        type: one-off
                        product:
                          original_price: 300
                          currency_code: BRL
                          discount_price: 280
                          final_price: 280
                          type: course
                          id: 10-secrets-of-sleep-walking
                          description: this is the description
                          image: null
                          name: 10 secrets of sleep walking
                          trial_days: 0
                        price: 0
                        discount: 300
                        refund_at: null
                        user_id: 5f46283b391b871ee128b232
                        paid_at: 1598441571.532139
                        invoice: '00324'
                        coupon: FREEE
                        instructors:
                          - 5a323b4f43c90b78098b456b
                        instructors_total_percentage: 0.2
                        tax_amount: null
                        tax_percentage: 0
                        affiliate: null
                        period: null
                        payment_plan_current_payment: null
                        payment_plan_total_payments: null
                        gateway: null
                        created_at: 1598441571.507159
                        currency_code: BRL
                    meta:
                      page: 1
                      totalItems: 1
                      totalPages: 1
                      itemsPerPage: 50
      operationId: get-coupon-redemptions
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
        - $ref: '#/components/parameters/page'
      description: 'Returns information about the coupon specified by the provided promotion id and coupon code. More specifically, the coupon usage details are listed along with the asocciated payments.The payments are in sorted order, with the most recently created payment appearing first, and the list is paginated, with a limit of 50 payments per page.'
    parameters:
      - schema:
          type: string
        name: pid
        in: path
        required: true
        description: Promotion Id
      - schema:
          type: string
        name: cid
        in: path
        required: true
        description: Coupon code
  '/v2/users/{id}/enrollment':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: User Id or email (encoded string)
    post:
      summary: Enroll user to product
      tags:
        - Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: 'Indication about whether the action of the enrollment was successful; true if it was successful, or false if it was not.'
      operationId: post-users-id-product-enrollment-pid
      description: 'Enroll user to product, regarding course, bundle, manual subscription '
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  productId: 5ab8ec7b43c90b630b8b4567
                  productType: bundle
                  justification: Added by admin
                  price: '100.23'
              properties:
                productId:
                  type: string
                  description: Unique identifier of the product
                productType:
                  type: string
                  enum:
                    - course
                    - bundle
                    - subscription
                  description: Type of the product
                justification:
                  type:
                    - string
                    - 'null'
                  description: Any justification/note for the enrollment
                price:
                  type: number
                  format: float
                  description: Price of the product
                duration_type:
                  type: string
                  description: Duration type of the product.
                  enum:
                    - months
                    - weeks
                    - days
                duration:
                  type: integer
                  description: Duration of the product
                  minimum: 1
              required:
                - productId
                - productType
                - price
            examples:
              Example:
                value:
                  productId: bundle-new
                  productType: bundle
                  justification: Added by admin
                  price: 100.23
    delete:
      summary: Unenroll user from product
      tags:
        - Users
      responses:
        '204':
          description: No Content
      operationId: delete-users-id-product-enrollment-pid
      description: Unenroll user from a product specified by the provided product id
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  productId: 5ab8ec7b43c90b630b8b4567
                  productType: bundle
              properties:
                productId:
                  type: string
                  description: Unique identifier of the product
                productType:
                  type: string
                  description: Type of the product
                  enum:
                    - course
                    - bundle
                    - subscription
              required:
                - productId
                - productType
            examples:
              Example:
                value:
                  productId: bundle-new
                  productType: bundle
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
  /v2/affiliates:
    get:
      summary: Get affiliates
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Affiliate'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                Example:
                  value:
                    data:
                      - id: 5a6f111843c90b78238b4568
                        email: test45@learnworlds.com
                        username: test45
                        code: q7eXVe
                        paymentMethod: null
                        paymentNotes: null
                        date: 1618323920.141964
                        clicks: 7
                        sales: 164
                        commissions: 16.4
                        leads: 0
                        customers: 1
                        payouts: 0
                        pending: 0
                        due: 0
                        commission_percentage: 10
                      - id: 5a6f1e5a43c90b15208b4571
                        email: test46@learnworlds.com
                        username: test46
                        code: BOwVnd
                        paymentMethod: paypal
                        paymentNotes: gdffgd
                        date: 1587639051.579715
                        clicks: 2
                        sales: 100
                        commissions: 10
                        leads: 0
                        customers: 2
                        payouts: 0
                        pending: 0
                        due: 0
                        commission_percentage: 10
                      - id: 606e1eef24e8a149b162fd12
                        email: testaff1@learnworlds.com
                        username: testaff1
                        code: yN5HLZ
                        paymentMethod: null
                        paymentNotes: null
                        date: 1617829783.839714
                        clicks: 0
                        sales: 333.98
                        commissions: 31.398
                        leads: 1
                        customers: 2
                        payouts: 0
                        pending: 0
                        due: 0
                        commission_percentage: 10
                    meta:
                      page: 1
                      totalItems: 3
                      totalPages: 1
                      itemsPerPage: 20
      operationId: get-affiliates
      tags:
        - Affiliates
      description: 'Returns a list with all the affiliates of the school. The affiliates are in sorted order, with the most recently created affiliate appearing first, and the list is paginated, with a limit of 20 affiliates per page.'
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
        - $ref: '#/components/parameters/page'
    parameters: []
  '/v2/affiliates/{id}/leads':
    get:
      summary: Get all leads per affiliate
      tags:
        - Affiliates
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                Example:
                  value:
                    data:
                      - id: 5ea173beca205e67b47f4552
                        email: testaffsearch@learnworlds.com
                        username: testAffSearch@learnworlds.com
                        subscribed_for_marketing_emails: true
                        eu_customer: false
                        is_admin: false
                        is_instructor: false
                        is_suspended: false
                        is_reporter: false
                        role:
                          level: user
                          name: User
                        is_affiliate: false
                        referrer_id: 5a6f1e5a43c90b15208b4571
                        created: 1587639230.083278
                        last_login: 1587645977.964412
                        fields:
                          bio: null
                          location: null
                          url: null
                          fb: null
                          twitter: null
                          instagram: null
                          linkedin: null
                          skype: null
                          behance: null
                          dribbble: null
                          github: null
                          phone: null
                          address: null
                          country: null
                          birthday: null
                          company: null
                          company_size: null
                          university: null
                          graduation_year: null
                          cf_skill: Personal trainer
                          cf_studentlicence: EA23123123
                        tags:
                          - super-user
                          - fanboy
                          - just-signedup
                        utms:
                          fc_source: Facebook
                          fc_medium: FB
                          fc_campaign: WOW campaign
                          fc_term: null
                          fc_content: null
                          fc_landing: /
                          fc_referrer: null
                          fc_country: null
                          lc_source: null
                          lc_medium: null
                          lc_campaign: null
                          lc_term: null
                          lc_content: null
                          lc_landing: /
                          lc_referrer: null
                          lc_country: null
                        billing_info:
                          bf_name: Sherlock Holmes
                          bf_address: Baker Street 221B
                          bf_city: London
                          bf_postalcode: NW1
                          bf_country: UK
                          bf_taxid: null
                        nps_score: 8
                        nps_comment: an nps comment by user
                    meta:
                      page: 1
                      totalItems: 1
                      totalPages: 1
                      itemsPerPage: 20
      operationId: get-affiliate-leads
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
        - $ref: '#/components/parameters/page'
      x-internal: false
      description: |
        Retrieves all the leads connected with the affiliate specified by the provided affiliate id. The leads are in sorted order, with the most recently created lead appearing first, and the list is paginated, with a limit of 20 leads per page. 
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: Affiliate Id or email (encoded string)
  '/v2/certificates/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: Certificate Id
    put:
      summary: Update a certificate (Reissue)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
              examples: {}
      operationId: put-certificates-id
      description: Updates the certificate specified by the provided certificate id.
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateUpdate'
            examples:
              Example 2:
                value:
                  issued: 1518790977.20607
              Example 3:
                value:
                  form:
                    firstname: John
                    lastname: Doe
                    ptin: '9090'
        description: Request input should include "issued" or "form" keys
      tags:
        - Certificates
    delete:
      summary: Delete a certificate (Revoke / Invalidate)
      operationId: delete-certificates-id
      responses:
        '204':
          description: No Content
      tags:
        - Certificates
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
      description: Deletes the certificate specified by the provided certificate id.
  /v2/promotions:
    get:
      summary: Get promotions
      tags:
        - Promotions
        - ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Promotion'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                Example:
                  value:
                    data:
                      - id: 615447e090c3ce7a00092772
                        name: api promo
                        coupons:
                          - code: coup-ZFPVOG
                            quantity: 1
                            expires: '2020-10-28'
                            bulk: true
                            prefix: coup
                            times_used: 12
                        applies_to_all:
                          - bundles
                        products:
                          - type: course
                            id: my-course
                        type: percentage
                        value: 20
                        created: 1522913229.399585
                        modified: 1522913229.399585
                    meta:
                      page: 1
                      totalItems: 1
                      totalPages: 1
                      itemsPerPage: 20
      operationId: get-promotions
      description: 'Returns a list with all the promotions of the school. The promotions are in sorted order, with the most recently created promotion appearing first, and the list is paginated, with a limit of 20 promotions per page. '
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
        - $ref: '#/components/parameters/page'
    post:
      summary: Create a promotion
      tags:
        - Promotions
        - ''
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    promotionId: 6138b71d94b8743e804701e2
                    name: api promo with all bundles 2
                    coupons: []
                    product_ids:
                      - '*ALL_BUNDLES*'
                    type: fixed
                    value: 20
                    created: 1631106845.375704
                    modified: 1631106845.375704
                    access: public
                properties:
                  id:
                    type: string
                    description: Promotion Id
                  name:
                    type: string
                    description: Promotion name
                  coupons:
                    type: array
                    description: Promotion coupons. The array is empty for newly created promotion.
                    items:
                      type: object
                  applies_to_all:
                    type: array
                    description: All courses and/or all bundles that promotion coupon will be applied to. None indicates that the coupon will not be applied to any courses/bundles
                    items:
                      type: string
                      enum:
                        - bundles
                        - courses
                        - courses_bundles
                        - none
                  products:
                    type: array
                    description: Specific products that the promotion coupon will be applied to
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          description: Product type
                          enum:
                            - course
                            - bundle
                        id:
                          type: string
                          description: Product Id
                  type:
                    type: string
                    description: Discount type
                    enum:
                      - percentage
                      - fixed
                  value:
                    type: number
                    format: float
                    description: Percentage or fixed amount of discount.
                  created:
                    type: number
                    description: 'Date the promotion was created, in UNIX timestamp format'
                    format: float
                  modified:
                    type: number
                    description: 'Date the promotion was modified for the last time, in UNIX timestamp format'
                    format: float
              examples:
                Example:
                  value:
                    id: 615447e090c3ce7a00092772
                    name: my promo
                    coupons: []
                    applies_to_all:
                      - bundles
                    products:
                      - type: course
                        id: my-first-course
                      - type: course
                        id: my-second-course
                    type: percentage
                    value: 20.5
                    created: 1632913376.270253
                    modified: 1632913376.270253
      operationId: post-promotions
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  name: api promo with all bundles
                  type: fixed
                  value: '20'
                  product_ids:
                    - '*ALL_BUNDLES*'
              properties:
                name:
                  type: string
                  description: Promotion name
                type:
                  type: string
                  description: Discount type
                  enum:
                    - percentage
                    - fixed
                  default: percentage
                value:
                  type: number
                  description: Percentage or fixed amount of discount.
                  default: 0
                  format: float
                applies_to_all:
                  type: array
                  description: All courses and/or bundles that the promotion coupon will be applied to. None indicates that the coupon will not be applied to any course/bundle
                  items:
                    type: string
                    enum:
                      - bundles
                      - courses
                      - courses_bundles
                      - none
                products:
                  type: array
                  description: Specific products that the promotion coupon will be applied to
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        description: Product type
                        enum:
                          - course
                          - bundle
                      id:
                        type: string
                        description: Product Id
              required:
                - name
            examples:
              Example:
                value:
                  name: my promo
                  type: percentage
                  value: 20.5
                  applies_to_all:
                    - bundles
                  products:
                    - type: course
                      id: my-first-course
                    - type: course
                      id: my-second-course
              'Example [applies_to_all: none]':
                value:
                  name: my promo
                  type: percentage
                  value: 20.5
                  applies_to_all:
                    - none
                  products:
                    - type: course
                      id: my-first-course
                    - type: bundle
                      id: my-first-bundle
        description: ''
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Lw-Client'
      description: Create a new Promotion without coupons. The endpoint response is the created Promotion resource.
    parameters: []
  '/v2/affiliates/{id}/customers':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: Affiliate Id or email (encoded string)
    get:
      summary: Get all customers per affiliate
      tags:
        - Affiliates
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  meta:
                    $ref: '#/components/schemas/Meta'
              examples:
                Example:
                  value:
                    data:
                      - id: 5ea173beca205e67b47f4552
                        email: testaffsearch@learnworlds.com
                        username: testAffSearch@learnworlds.com
                        subscribed_for_marketing_emails: true
                        eu_customer: false
                        is_admin: false
[...]
